<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
<!--        <property name="hibernate.connection.isolation">8</property>-->

        <mapping class="org.example.entity.User"/>
        <mapping class="org.example.entity.Company"/>
        <mapping class="org.example.entity.Profile"/>
        <mapping class="org.example.entity.Chat"/>
        <mapping class="org.example.entity.UserChat"/>
        <mapping class="org.example.entity.Programmer"/>
        <mapping class="org.example.entity.Manager"/>
        <mapping class="org.example.entity.Payment"/>
    </session-factory>
</hibernate-configuration>